API_KEY = "123456789abcdefghijklmnopqrstuvwxyz"
PH_ENDPOINT = "https://api.producthunt.com/v2/api/graphql"
PH_KEY = "123456789abcdefghijklmnopqrstuvwxyz"
PH_SECRET = "123456789abcdefghijklmnopqrstuvwxyz"
my_id = '123456789'
analyst_id = '123456789'
creds_location = 'place'
forms_url = 'forms.google.com'
spreadsheets_url = 'spreadsheets.google.com'
healthchecks = 'https://hc-ping.com/db123456-789a-12ab-aaaa-sssssssssssssss'